<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <clear />
      <add name="iisnode" path="src/server.js" verb="*" modules="iisnode" />
    </handlers>

    <iisnode
      nodeProcessCommandLine="C:\Program Files\nodejs\node.exe"
      loggingEnabled="true"
      devErrorsEnabled="true" />

    <httpErrors existingResponse="PassThrough" />
    <rewrite>
      <rules>
        <clear />
        <rule name="Enforce HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
            <add input="{HTTP_HOST}" pattern="^localhost$" negate="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="true" redirectType="Permanent" />
        </rule>

        <rule name="DynamicContent" stopProcessing="true">
          <match url="^(?!iisnode).*$" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="src/server.js" />
        </rule>
      </rules>
      <outboundRules>
        <clear />
        <rule name="RemoveX-AspNet-Version" patternSyntax="Wildcard">
          <match serverVariable="RESPONSE_X_AspNet_Version" pattern=".*" />
          <action type="Rewrite" value="" />
        </rule>
      </outboundRules>
    </rewrite>
  </system.webServer>

  <appSettings>
    <add key="NODE_ENV" value="production" />
  </appSettings>
</configuration>

